* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #eaffff;
}

.navbar-brand {
  font-size: 400% !important;
}

.text {
  text-align: center;
  margin: 25px;
}

.text h1 {
  font-weight: normal;
  font-family: times;
}

.image-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 40%;
}

.image-wrapper .image img {
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
}

footer {
  background-color: #9ac0cd;
}

.col-md-4 {
  text-align: center;
  height: 175px;
}

.col-md-4 h3 {
  font-family: times, serif;
  font-weight: 800;
  padding: 10px;
}

.col-md-4 label {
  font-weight: normal;
}
